.menu-superior{
    background-image: url(imagem.jpg);
    background-blend-mode:soft-light;
   background-color: #24253c;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding-bottom: 600px;
   
  
  
}
ul{
    padding-left: 600px;
    padding-top: 20px;
    
}

ul li{
    display: inline;
    padding-left: 50px;
    color: white;
    font-weight: bold;
    
}

ul li:hover{
    color: #e15f59;
    cursor: pointer;
}
button{
    font-weight: bold;
    background-color: #24253c;
    border-color: #e15f59;
    border-width: 3px;
    color: #e15f59;
    position: absolute;
    left: 1600px;
    top: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

button:hover{
    color: white;
    border-color: white;
    cursor: pointer;
}

img{
    position: absolute;
    border-radius: 50%;
    width: 200px;
    left: 780px;
    top: 170px;
    border: solid #ffffff;
}

.nome{
    font-weight: bolder;
    color: #e15f59;
    position: absolute;
    top: 350px;
    left: 700px;
    font-size: 60px;
}

.descricao{
    color: #ffffff;
    position: absolute;
    top: 460px;
    left: 750px;
}
