.menu-superior{
    background-image: url(devweb.jpg);
    background-blend-mode:multiply;
   background-color: #141522;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding-bottom: 600px;
}



ul{
    padding-left: 600px;
    padding-top: 20px;
    
}

ul li{
    display: inline;
    padding-left: 50px;
    color: white;
    font-weight: bold;
    
}

a{
    color: #ffffff;
    text-decoration: none;
}


a:hover{
    color: #ed9593;
}


.contato1{
    font-weight: bold;
    background-color: #24253c;
    border-color: #e15f59;
    border-width: 3px;
    color: #e15f59;
    position: absolute;
    left: 1550px;
    top: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

.contato1:hover{
    color: white;
    border-color: white;
    cursor: pointer;
}

.foto1{
    position: absolute;
    border-radius: 50%;
    width: 200px;
    left: 780px;
    top: 170px;
    border: solid #ffffff;
}

.nome{
    font-weight: bolder;
    color: #e15f59;
    position: absolute;
    top: 350px;
    left: 700px;
    font-size: 60px;
}

.descricao{
    color: #ffffff;
    position: absolute;
    top: 460px;
    left: 750px;
}

.main{
    position: absolute;
    background-color: #24253c;
    left: 0;
    right: 0;
    top: 650px;
    padding-bottom: 800px;
    
}

.sobre-mim{
    position:absolute;
    font-weight: bold;
    font-size: 50px;
    left: 800px;
    top: 50px;
    color: white;
}

.linha-rosa{
    position: absolute;
    width: 80px;
    height: 5px;
    left: 800px;
    top: 160px;
}

.foto2{
    position: absolute;
    width: 420px;
    left: 250px;
    top: 140px;
    border-style:double;
    border-color:#1d1e31;
    border-width: 10px;
}

.texto{
    color: #ffffff;
    position: absolute;
    left: 800px;
    top: 200px;
    font-size: 20px;
    line-height: 30px;
}

.tabela-esquerda{
    color: #ffffff;
    background-color:#24253c;
    position:absolute;
    left: 800px;
    top: 340px;
    line-height: 30px;
    border: solid #e15f59;
    border-width: 2px;
    
}
td {
    padding: 20px;
    
}
.contato2{
    font-weight: bold;
    background-color: #e15f59;
    border-color: #e15f59;
    border-width: 3px;
    color: #ffffff;
    position: absolute;
    left: 800px;
    top: 660px;
    padding-left: 20px;
    padding-right: 20px;
}

.contato2:hover{
    color: #e15f59;
    border-color: white;
    background-color: #ffffff;
    cursor: pointer;
}

.conhecimento{
    position: absolute;
    background-color: #1a1b2e;
    left: 0;
    right: 0;
    top: 2050px;
    padding-bottom: 800px;

} 
.conhe-titulo{
    position: absolute;
    background-color: #141522;
    top: 730px;
    color: #ffffff;
    padding-bottom: 800px;
    padding-right: 1800px;
    padding-left: 300px;
    padding-top: 100px;
    font-size: 50px;
    font-weight: bold;
}
.linha-rosa2{
    position: absolute;
    width: 110px;
    height: 5px;
    top: 970px;
    left: 300px;
}

.desenvolvimento-web{
    color: #e15f59;
    position: absolute;
    left: 300px;
    top: 1070px;
    font-size: 30px;
    border: solid #e15f59;
    padding-bottom: 300px;
    padding-left: 30px;
    padding-right: 100px;
    padding-top: 90px;

}
ol {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 170px;
    list-style: circle;
    line-height: 40px;
}

.fundo-devweb{
    position: absolute;
    top: 1080px;
    left: 310px;
    width: 400px;
    height: 100px;

}
.criacao{
    color: #e15f59;
    position: absolute;
    left: 750px;
    top: 1070px;
    font-size: 30px;
    border: solid #e15f59;
    padding-bottom: 300px;
    padding-left: 30px;
    padding-right: 280px;
    padding-top: 90px;
}

.fundo-criacao{
    position: absolute;
    top: 1080px;
    left: 760px;
    width: 400px;
    height: 100px;
}
.producao{
    color: #e15f59;
    position: absolute;
    left: 1200px;
    top: 1070px;
    font-size: 30px;
    border: solid #e15f59;
    padding-bottom: 300px;
    padding-left: 30px;
    padding-right: 280px;
    padding-top: 90px;
}
.fundo-producao{
    position: absolute;
    top: 1080px;
    left: 1210px;
    width: 420px;
    height: 100px;
}
.hab-e-form-titulo{
    position: absolute;
    color: #ffffff;
    background-color: #24253c;
    padding-left: 300px;
    top: 1685px;
    padding-top: 100px;
    right: 0px;
    left: 0px;
    padding-bottom: 600px;
    font-size: 50px;
    font-weight: bold;
}
.linha-rosa3{
    position: absolute;
    width: 200px;
    height: 5px;
    top: 1930px;
    left: 300px;
}
.habilidades{
    color:#ed9593;
    position: absolute;
    left: 300px;
    top: 2000px;
    font-size: 35px;

}

.lista5{
    position: absolute;
    top: 2100px;
    left: 290px;
    line-height: 50px;
}

.formacao{
    color: #ed9593;
    position: absolute;
    left: 800px;
    top: 2000px;
    font-size: 35px;
}
.lista6{
    position: absolute;
    top: 2070px;
    left: 850px;
    display: block;
    line-height: 90px;
}

.naptec{
    position: absolute;
    top: 2115px;
    width: 50px;
    left: 800px;
}

.fae{
    position: absolute;
    top: 2205px;
    width: 50px;
    left: 800px;
}
.trybe{
    position: absolute;
    top: 2295px;
    width: 50px;
    left: 800px;
}
.curso-tecnico{
    color: #ed9593;
    position: absolute;
    top: 2135px;
    left: 890px;
}
.producao-multimidia{
    color: #ed9593;
    position: absolute;
    top: 2230px;
    left: 890px;
}
.dev-web{
    color: #ed9593;
    position: absolute;
    top: 2315px;
    left: 890px;
}
.redes-sociais{
    color: #ed9593;
    position: absolute;
    left: 1350px;
    top: 1985px;
    font-size: 35px;
}
.git-logo{
    position: absolute;
    width: 60px;
    left: 1350px;
    top: 2120px;
    border-radius: 50%;
}
.insta-logo{
    position: absolute;
    width: 60px;
    left: 1450px;
    top: 2120px;
    border-radius: 50%;
}
.linkedin-logo{
    position: absolute;
    width: 60px;
    left: 1550px;
    top: 2120px;
    border-radius: 50%;
}
.git-logo:hover{
    width: 70px;
    cursor: pointer;
}
.insta-logo:hover{
    width: 70px;
    cursor: pointer;
}
.linkedin-logo:hover{
    width: 70px;
    cursor: pointer;
}
